* 
{
    margin: 0;
    padding: 0;
}

h2
{
    text-align: center;
    margin-top: 20px;
}

.cal 
{
    margin: 0 auto;
    max-width: 340px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 5px 9px 0;
    transition: 0.3s;
    font-size:0;
}

.cal:hover
{
    box-shadow: 0 15px 25px 0 rgba(134, 9, 93, 0.521);
}

*#result
{
    width: 99%;
    height: 85px;
    text-align: right;
    font-weight: bold;
    font-size: 28px;
    box-sizing: 0 5px;
    letter-spacing: 2px;
}

.btn
{
    background-color:rgb(38, 4, 48);
    height: 71px;
    width: 85px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(21, 179, 179);
}

.btn:hover
{
    background-color: rgba(178, 207, 11, 0.801);
}